<html>
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="number" placeholder="Enter number"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Factorize</button>
    </form>
</div>
<div>List numbers</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Find</button>
</form>
{{#message}}
    {{message}}
{{/message}}

{{#numbers}}
    <div>
        <b>{{id}}</b>
        <span>{{bigInteger}}</span>
        <i>{{factNumber}}</i>
        {{#authorName}}
            <strong>{{authorName}}</strong>
        {{/authorName}}
    </div>
{{/numbers}}
{{#users}}
    <strong>{{users}}</strong>
{{/users}}
</body>
</html>